<a href="https://colab.research.google.com/github/maazashraf23/Pre-Thesis-Task/blob/main/Pre_Project_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas_read_xml
import xml.etree.cElementTree as ET
import pandas_read_xml as pdx
from pandas_read_xml import flatten
import pandas as pd

Collecting pandas_read_xml
  Downloading pandas_read_xml-0.3.1-py3-none-any.whl (6.3 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pandas_read_xml) (2.23.0)
Collecting urllib3>=1.26.3
  Downloading urllib3-1.26.7-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 39.8 MB/s
Collecting distlib
  Downloading distlib-0.3.3-py2.py3-none-any.whl (496 kB)
     |████████████████████████████████| 496 kB 8.2 MB/s
Collecting zipfile36
  Downloading zipfile36-0.1.3-py3-none-any.whl (20 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandas_read_xml) (1.1.5)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandas_read_xml) (3.0.0)
Collecting xmltodict
  Downloading xmltodict-0.12.0-py2.py3-none-any.whl (9.2 kB)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_read_xml) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_read_xml) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_read_xml) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas_read_xml) (1.15.0)
Collecting requests
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 785 kB/s
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pandas_read_xml) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests->pandas_read_xml) (2.0.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pandas_read_xml) (2.10)
Installing collected packages: urllib3, zipfile36, xmltodict, requests, distlib, pandas-read-xml
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.26.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed distlib-0.3.3 pandas-read-xml-0.3.1 requests-2.26.0 urllib3-1.26.7 xmltodict-0.12.0 zipfile36-0.1.3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
mytree1= ('/content/drive/My Drive/Colab Notebooks/Project Pre task/project_pre_task/Cam04_0205 13-59-22.xml')

Mounted at /content/drive

In [ ]:
df = pdx.read_xml(mytree1, ['annotation'])
 
df

  folder  ...                                             object
0  label  ...  [{'name': 'car', 'pose': 'Unspecified', 'trunc...

[1 rows x 7 columns]

In [ ]:
df = df.pipe(flatten)
 
a=df['filename'][0]
a=a[:5]
df

  folder                 filename  ... object|bndbox|xmax object|bndbox|ymax
0  label  Cam04_0205 13-59-22.jpg  ...               1239               1789
1  label  Cam04_0205 13-59-22.jpg  ...               1664               1631

[2 rows x 16 columns]

In [ ]:
df = df.pipe(flatten)
 
df

  folder                 filename  ... object|bndbox|xmax object|bndbox|ymax
0  label  Cam04_0205 13-59-22.jpg  ...               1239               1789
1  label  Cam04_0205 13-59-22.jpg  ...               1664               1631

[2 rows x 16 columns]

In [ ]:
df['Camera']=a

data=df.drop(['folder', 'segmented','source|database','source|database','object|pose','object|truncated','object|difficult','size|depth'], axis=1)

data

                  filename  ... Camera
0  Cam04_0205 13-59-22.jpg  ...  Cam04
1  Cam04_0205 13-59-22.jpg  ...  Cam04

[2 rows x 10 columns]

In [ ]:
data.to_csv("fieldtest_annotations.csv")
data

                  filename  ... Camera
0  Cam04_0205 13-59-22.jpg  ...  Cam04
1  Cam04_0205 13-59-22.jpg  ...  Cam04

[2 rows x 10 columns]

In [ ]:
read_csv = pd.read_csv('fieldtest_annotations.csv')
read_csv.drop(['Unnamed: 0'],axis=1)
read_csv

   Unnamed: 0                 filename  ... object|bndbox|ymax  Camera
0           0  Cam04_0205 13-59-22.jpg  ...               1789   Cam04
1           1  Cam04_0205 13-59-22.jpg  ...               1631   Cam04

[2 rows x 11 columns]

In [ ]:
edited_csv_file=read_csv.drop(['Unnamed: 0','filename','size|width','size|height','Camera'],axis=1)

csv_to_txt=edited_csv_file.rename(columns={'object|name':'Class Id'})
csv_to_txt

                                                path  ... object|bndbox|ymax
0  /home/mfranke/SMART2/ROS-Bags/label/Cam04_0205...  ...               1789
1  /home/mfranke/SMART2/ROS-Bags/label/Cam04_0205...  ...               1631

[2 rows x 6 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
txtfile= ('/content/drive/My Drive/Colab Notebooks/Project Pre task/project_pre_task/detect_classes.txt')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
detect=[]
with open(txtfile) as f:
    lines = f.readlines()
    for i in lines:
      a_string = i
      new_string = a_string.replace("\n", "")
      detect.append(new_string)

#print(detect.index('truck'))
#dp=pd.DataFrame(detect,columns=['Class Id'])
#dp['Class Id'].index
csv_to_txt

                                                path  ... object|bndbox|ymax
0  /home/mfranke/SMART2/ROS-Bags/label/Cam04_0205...  ...               1789
1  /home/mfranke/SMART2/ROS-Bags/label/Cam04_0205...  ...               1631

[2 rows x 6 columns]

In [ ]:
for object in csv_to_txt['Class Id']:
  for a in detect:
    if object==a:
      print(detect.index(a))
      csv_to_txt["Class Id"].replace({object:detect.index(a)}, inplace=True)
#csv_to_txt
csv_to_txt = csv_to_txt[['path','object|bndbox|xmin','object|bndbox|ymin','object|bndbox|xmax','object|bndbox|ymax','Class Id']]
#csv_to_txt
      
csv_to_txt.to_csv('csv_to_txt.csv')
csv_to_txt

3

                                                path  ...  Class Id
0  /home/mfranke/SMART2/ROS-Bags/label/Cam04_0205...  ...         3
1  /home/mfranke/SMART2/ROS-Bags/label/Cam04_0205...  ...         3

[2 rows x 6 columns]

In [ ]:
import csv
csv_file = input('Enter the name of your input file: ')
txt_file = input('Enter the name of your output file: ')
with open(txt_file, "w") as my_output_file:
    with open(csv_file, "r") as my_input_file:
        [ my_output_file.write(" ".join(row)+'\n') for row in csv.reader(my_input_file)]
    my_output_file.close()

Enter the name of your input file: csv_to_txt.csv
Enter the name of your output file: annotations_for_training.txt